.mainContainer {
  margin-left: 21rem;
  margin-top: 4rem;
  border: 1px solid yellow;
}
.mainWrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  border: 1px solid black;
}
.mainWrapper > h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.add-btn {
  background-color: #577bfa;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.employeeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBox {
  background-color: #ecedf6;
  height: 2rem;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8;
}
.searchBox > input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 0.9rem;
}
.searchBox > input::placeholder {
  color: #b3b4c0;
}
.searchBox > input:focus {
  outline: none;
}
.employees {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
.cardComponent {
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.3 ease-in-out;
  cursor: pointer;
  border-radius: 7px;
  overflow: hidden;
}
.cardComponent:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
